.main-section {
  max-width: 1300px;
  margin: 0 auto;
}

/* loading  */
.loader {
  border: 6px solid #f3f3f3; /* hellgrau */
  border-top: 6px solid #f97316; /* orange (Tailwind: orange-500) */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* image */
.img {
}

.text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
